
/* dynamic sidebar text color #024c63*/
#newsidebox{
  color: #024c63;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-wrap: auto;
  
}

table.dataTable thead {
    background-color: #B6B6B6 !important;
}

table.dataTable tbody tr.selected td,
table.dataTable tbody td.selected {
    box-shadow: inset 0 0 0 9999px #024c63 !important;
}

table.dataTable tbody tr:active td {
    background-color: #024c63 !important;
}

:root {
    --dt-row-selected: transparent !important;
}

table.dataTable tbody tr:hover, table.dataTable tbody tr:hover td {
    background-color: #01394A !important;
    color: #F8F8F8 !important;
}